.App {
  font-family: sans-serif;
}

.tool-btn {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid black;
  background: white;
}

.tool-btn.selected {
  background: black;
  color: white;
}