.App {
  font-family: sans-serif;
}

.tool-btn {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid black;
  background: white;
}

.tool-btn.selected {
  background: black;
  color: white;
}

.block {
  border: 1px solid gray;
}

.canvas {
  position: relative;
  cursor: none;
}

.tools>li {
  display: flex;
  justify-content: center;
}

.CoverImage_controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  bottom: -80px;
  right: 0;
}

#canvases {
  margin-top: 150px;
}

#canvases canvas {
  width: 50px;
  height: 50px;
}